<section id="send-mail">

  <div class="back-img">
  </div>

  <div class="mail-form">
    <h1>CONFIGURE YOUR EMAIL</h1>
  </div>

  <form class="mail-form" action="/events/{{event._id}}/send-email" method="post">
    <label for="">Subject</label>
    <input type="text" name="subject" id="">

    <label for="">Message</label>
    <textarea type="text" name="message" id=""></textarea>

    <button type="submit">Submit</button>
  </form>

</section>