<h1>Change password</h1>
<form action="/auth/change-password" method="POST">
  {{#if currentUser.googleUser}}
  <label for="newName">New Name: </label>
  <input type="text" name="newName" id="newName">
  <button type="submit">Change Name</button>
  {{else}}
  <label for="newName">New Name: </label>
  <input type="text" name="newName" id="newName">
  <label for="currentPass">Current Password: </label>
  <input type="password" name="currentPass" id="currentPass">
  <label for="pass">New Password: </label>
  <input type="password" name="newPass" id="pass">
  <meter class="hide" max="4" id="password-strength-meter">
    <p id="password-strength-text"></p>
  </meter>
  <button type="submit">Change Info</button>
  {{/if}}
</form>

{{> flash}}

<script src="/javascripts/password-strength.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>