<h1>Change password</h1>
<form action="/auth/change-password" method="POST">
  <label for="currentPass">Current Password: </label>
  <input type="password" name="currentPass" id="currentPass">
  <label for="newPass">New Password: </label>
  <input type="password" name="newPass" id="newPass">
  <button type="submit">Change Password</button>
</form>