<h1>Change password</h1>
<form action="/auth/change-password" method="POST">
  {{#if currentUser.googleUser}}
  <label for="newName">New Name: </label>
  <input type="text" name="newName" id="newName">
  <button type="submit">Change Name</button>
  {{else}}
  <label for="currentPass">Current Password: </label>
  <input type="password" name="currentPass" id="currentPass">
  <label for="newPass">New Password: </label>
  <input type="password" name="newPass" id="newPass">
  <button type="submit">Change Info</button>
  {{/if}}
</form>

{{> flash}}