<section class="auth">
  <div class="form">

    <form action="/auth/change-password" method="POST">

      {{#if currentUser.googleUser}}
      <div class="field">
        <input type="text" name="newName" id="newName" placeholder="Name">
      </div>
      <div class="field">
        <button class="submit" type="submit">Change Name</button>
      </div>
      {{else}}
      <div class="field">
        <input type="password" name="currentPass" id="currentPass" placeholder="Current password">
      </div>
      <div class="field">
        <input type="password" name="newPass" id="pass" placeholder="New password">
        <meter class="hide" max="4" id="password-strength-meter">
          <p id="password-strength-text"></p>
        </meter>
      </div>

      <div class="field">
        <button class="submit" type="submit">Change</button>
      </div>
      {{/if}}
    </form>
  </div>

  {{> flash}}
</section>

<script src="/javascripts/password-strength.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>