<section class="auth">
  <div class="form">

    <form method="POST" action="/auth/login">

      <div class="field">
        <input type="text" name="username" placeholder="username:" />
      </div>

      <div class="field">
        <input type="password" name="password" placeholder="Password:" />
      </div>

      <div class="field">
        <button class="submit" type="submit">Login</button>
      </div>

    </form>
  </div>

  {{> flash}}
</section>