<div class="form">
  <h2>Add an event!</h2>

  <form method="POST" action="/events/add">

    <div class="field">
      <label>Name</label>
      <input type="text" name="name" />
    </div>

    <div class="field">
      <label>Description</label>
      <input type="text" name="description" />
    </div>

    <div class="field">
      <label>Location</label>
      <input type="text" name="location" />
    </div>

    <div class="field">
      <label>Date</label>
      <input type="Date" name="date" />
    </div>

    {{> flash}}

    <div class="field submit">
      <button type="submit">Create event</button>
    </div>

  </form>
</div>