<section class="header new">
</section>
<section class="profile-buttons">
  <div class="form">
    <form method="POST" action="/events/add">
      <div class="field">
        <input class="white" type="text" name="name" placeholder="Name:" />
      </div>
      <div class="field">
        <input class="white" type="text" name="description" placeholder="Description:" />
      </div>
      <div class="field">
        <input class="white" type="text" name="location" placeholder="Location:" />
      </div>
      <div class="field">
        <input class="white" type="date" name="date" />
      </div>

      {{> flash}}

      <div class="field">
        <button class="submit" type="submit">Create event</button>
      </div>
    </form>
  </div>
</section>