<section class="header new">
</section>
<section class="profile-buttons">
  <div class="form">
    <form method="POST" action="/events/add">
      <div class="field">
        <input class="white" type="text" name="name" placeholder="Name:" />
      </div>
      <div class="field">
        <input class="white" type="text" name="description" placeholder="Description:" />
      </div>
      <div class="field">
        <input class="white" type="text" name="location" placeholder="Location:" />
      </div>
      <div id='geocoder' class='geocoder'></div>
      <div class="field">
        <input class="white" type="date" name="date" />
      </div>

      {{> flash}}

      <div class="field">
        <button class="submit" type="submit">Create event</button>
      </div>
    </form>
  </div>
</section>

<script src="/javascripts/autocomplete-location.js"></script>

<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.4/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet'
  href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.4/mapbox-gl-geocoder.css' type='text/css' />