<section class="header">
  <img class="profile" src="{{imageUrl}}">
  <p>{{username}}</p>
</section>

<div class="profile-edit">

  <form method="POST" action="/profile-image" id="image-form" enctype="multipart/form-data" class="hide">
    <div>
      <span class="image-upload"><input type="file" name="image" title="" class="input-img" />
        Choose Image</span>
    </div>
    <div>
      <button class="submit small-blue" type="submit">Upload</button>
    </div>
  </form>

  <img src="/images/cam.png" class="add-image" alt="">
  <a href="/auth/change-password"><img src="/images/word.png" alt=""></a>
</div>

<section class="profile-buttons">
  <div>
    <a class="submit" href="/events/new">New event</a>
  </div>

  <div>
    <a class="submit" href="/events">My events</a>
  </div>
</section>




<script src="javascripts/image-input.js"></script>
