<section class="header">
  <img class="profile" src="{{imageUrl}}">
  <p>{{username}}</p>
</section>

<div class="profile-edit">
  <img src="/images/cam.png" class="add-image" alt="">
  <a href="/auth/change-password"><img src="/images/word.png" alt=""></a>
</div>
<form method="POST" action="/profile-image" id="image-form" enctype="multipart/form-data" class="hide">
  <div>
    <label>Upload a picture</label>
    <input class="input-file" type="file" name="image">
  </div>
  <div>
    <button class="submit small-blue" type="submit">Upload</button>
  </div>
</form>



<section class="profile-buttons">
  <div>
    <a class="submit" href="/events/new">New event</a>
  </div>

  <div>
    <a class="submit" href="/events">My events</a>
  </div>
</section>



<section class="profile-footer">

  <a href="/">Back to Home</a>
</section>


<script src="javascripts/image-input.js"></script>