<section class="header">
  <h3>Event Name: </h3>
  <div class="search-event">
    <form class="search-form" action="/events/search-event" method="GET">
      <input type="search" name="name" id="event-search-input"></input>
      <div>
        <button class="dbutton" type="submit"><i class="fas fa-search"></i></button>
    </form>
    {{> flash}}
  </div>
</section>


{{#if eventsSearched}}

<div class="show-events">
  <h2 class="search-title">Search results</h2>
  <ul>
    <div class="container-list">
      {{#each eventsSearched}}
      <li>
        <div class="container-list event-list-images"
          style="background: url({{imageUrl}}) no-repeat center center / cover;">
          <a class="event-square-text" href="/events/{{_id}}">{{name}}</a>
        </div>
      </li>
      {{/each}}
  </ul>
</div>
</div>
{{/if}}