<footer>
  <img src="/images/logo.png" alt="logo">
  {{#if currentUser}}
  <div class="logs">
    <form action="/auth/logout" method="POST">
      <button type="submit">Log out</button>
    </form>
  </div>
  {{else}}
  <div class="logs">
    <a href="/auth/signup">Sign up</a>
    <a href="/auth/login">Log in</a>
  </div>
  <a href="/profile">My profile</a>
  {{/if}}
</footer>