<section>

  <div class="container index-header">
    <div class="container-row">
      <h1 class="index-title">Esplit</h1>
      <img class="index-img" src="/images/Broken Egg.png" />
    </div>
    <h2>Split your events into smaller things</h2>
  </div>

  <div class="container-index-body index-body">
    <h4>Create events, invite people, reorganize your life</h4>
    <p>Get started now: </p>


    {{#unless currentUser}}
    <div class="container-row">
      <a class="dbutton" href="/auth/signup">Sign Up</a>
      <a class="dbutton" href="/auth/login">Log in</a>
    </div>
    <a href="{{url}}"><img src="/images/google-log-in.png" /></a>
    {{/unless}}
  </div>

</section>



{{!-- <section id="index-page">

  <div class="logo">

    <h2 class="slogan">
      Creating events and dividing tasks is fun and easy with
    </h2>

    <h2 class="esplit">Esplit</h2>

  </div>

  <div class="footer-index">
    {{#unless currentUser}}
    <a href="/auth/signup">Sign Up</a>
    <a href="/auth/login">Log in</a>
    {{/unless}}
  </div>

</section> --}}