<section>

  <div class="container index-header">
    <div class="container-row">
      <h1 class="index-title">Esplit</h1>
      <img class="index-img" src="/images/Broken Egg.png" />
    </div>
    <h2>Split your events into smaller things</h2>
  </div>

  <div class="container-index-body index-body">
    <h4>Create events, invite people, reorganize your life</h4>
    {{#if currentUser}}
    <a class="dbutton start-button" href="/profile">Get started now</a>
    {{else}}
    <p>Get started now:</p>
    <div class="container-row">
      <a class="dbutton" href="/auth/signup">Sign Up</a>
      <a class="dbutton" href="/auth/login">Log in</a>
    </div>
    <a href="{{url}}"><img src="/images/google-log-in.png" /></a>
    {{/if}}
  </div>

</section>