<div class="logo">

  <h2 class="slogan">
    Creating events and dividing tasks is fun and easy with
  </h2>

  <h2 class="esplit">Esplit</h2>

</div>

<div class="footer-index">
  {{#unless currentUser}}
  <a class="index-button" href="/auth/signup">Sign Up</a>
  <a class="index-button" href="/auth/login">Log in</a>
  {{/unless}}
</div>

</section>