<!doctype html>
<html lang="en">

<head>
  <title>E-split</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <nav>
    <img src="" alt="logo">
    {{#if currentUser}}
    <div class="logs">
      <p>{{currentUser.username}}</p>
      <form action="/auth/logout" method="POST">
        <button type="submit">Log out</button>
      </form>
    </div>
    {{else}}
    <div class="logs">
      <a href="/auth/signup">Sign up</a>
      <a href="/auth/login">Log in</a>
    </div>
    {{/if}}
  </nav>
  {{{body}}}
</body>

</html>