<h1>Search people Page</h1>

<article>
  <div>
    <form action="/people/{{eventContent.event._id}}/search-people" method="GET">
      <input type="search" name="username"></input>
      <button type="submit">Search people</button>
    </form>
  </div>
  {{#if eventContent.searchedUser}}
  <form action="/events/add-people" method="POST">
    <p>{{eventContent.searchedUser.username}}</p>
    <input type="hidden" value="{{event._id}}" name="eventId"></input>
    <input type="hidden" name="guestId" value="{{searchedUser._id}}">
    <button type="submit">Add</button>
  </form>

  {{/if}}

</article>